{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Handling</title>
</head>
<body>
    <nav>
        <h1>PDF Handling</h1>
    </nav>

    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="pdf_file" required>
            
            <label>Select the Mode</label>
            
            <select name="mode">
                <option value="extract">Extract Text</option>
                <option value="rotate">Rotate</option>
                <option value="watermark">Apply Watermark</option>
                <option value="details">Get Details</option>
                <option value="merge">Merge PDF</option>
                <option value="encrypt">Encryption</option>
            </select>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>