<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Handling</title>
</head>
<body>
    <nav>
        <h1>PDF Handling</h1>
    </nav>

    <div class="container">
        <input type="file" id="myfile" name="filename">
        <label for="PDF Mode">Select the Mode</label>
        <select name="PDF Mode" id="PDF Mode">
            <option value="Extract Text">Extract Text</option>
            <option value="Rotate">Rotate</option>
            <option value="Apply Watermark">Apply Watermark</option>
            <option value="Get Details">Get Details</option>
            <option value="Merge PDF">Merge PDF</option>
            <option value="Encryption">Encryption</option>
        </select>
    </div>
</body>
</html>